@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald";
}

.header {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  margin: 10px 0;
}

.header-tittle {
  display: flex;
  flex-direction: column;
}

.header-tittle h1 {
  color:#de1623;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
}

.header-tittle h1 span {
  font-weight: 300;
  color: #de1623;
}

.header-tittle p {
  color:#7d3fd4;
  text-align: center;
  font-weight: 200;
  position: relative;
  
}

.header-tittle p::after {
  content: "";
  background: gray;
  width: 45px;
  height: 1px;
  position: absolute;
  bottom: 13px;
  right: 0px;
}

.header-tittle p::before {
  content: "";
  background: gray;
  width: 45px;
  height: 1px;
  position: absolute;
  bottom: 13px;
  left: 0px;
}

.header-input {
  display: flex;
  align-items: center;
  position: relative;
}

.header-input input {
  border: 1px solid #000;
  border-radius: 4px;
  width: 180px;
  height: 30px;
  padding: 0px 30px;
}

.header-input i {
  position: absolute;
  left: 10px;

}

.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #de1623;
}

.header-text h3 {
  font-weight: 500;
  font-size: 22px;
}

.header-bag {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.header-bag img {
  max-width: 100%;
  color: #7d3fd4;
}

.header-bag h2 {
  color: rgb(126, 126, 126);
}

.menu {
  display: flex;
  background-color: #6532ac;
  align-items: center;
}

.menu-box {
  display: flex;
  gap: 40px;
}

.menu-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.menu-div h4 {
  color: #ffffff;
  font-weight: 400;
}



