@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald";
}

.header {
  display: flex;
  justify-content: space-around;;
  margin: 10px 0;
}

.header-tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-tittle h1 {
  color:#de1623;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
}

.header-tittle h1 span {
  font-weight: 300;
  color: #de1623;
}

.header-tittle p {
  color:#7d3fd4;
  text-align: center;
  font-weight: 200;
  position: relative;
  
}

.header-tittle p::after {
  content: "";
  background: gray;
  width: 45px;
  height: 1px;
  position: absolute;
  bottom: 13px;
  right: 0px;
}

.header-tittle p::before {
  content: "";
  background: gray;
  width: 45px;
  height: 1px;
  position: absolute;
  bottom: 13px;
  left: 0px;
}

.header-input {
  display: flex;
  align-items: center;
  position: relative;
}

.header-input input {
  border: 1px solid #000;
  border-radius: 4px;
  width: 180px;
  height: 30px;
  padding: 0px 30px;
}

.header-input i {
  position: absolute;
  left: 10px;

}

.header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #de1623;
}

.header-text h3 {
  font-weight: 500;
  font-size: 22px;
}

.header-bag {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.header-bag img {
  max-width: 100%;
  color: #7d3fd4;
}

.header-bag h2 {
  color: rgb(126, 126, 126);
}

.menu-responsive {
  display: none;
  justify-content: center;
  align-items: center;
}

.menu-responsive img {
  width: 48px;
  cursor: pointer;
}



.menu {
  display: flex;
  background-color: #6532ac;
  align-items: center;
  justify-content: space-between;
 
}

.menu-box {
  display: flex;
  gap: 10px;
}

.menu-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  margin: 10px 10px;
}

.menu-div:hover {
  background-color: #3f1679;
  border-radius: 5px;
}

.menu-div h4 {
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
}

.menu-inscription {
  display: flex;
  gap: 10px;
  margin-right: 20%;
}

.menu-inscription span {
  color: #3f1679;
  font-style: italic;
  font-weight: 300;
}

.menu-inscription p {
  color: #ffffff;
  font-style: italic;
  font-weight: 200;
}

.text-responsive {
  background: #ececec;
  display: none;
}

.text-responsive h2 {
  font-size: 20px;
  text-align: center;
  color: #6e6e6e;
}

.main-content {
  margin-top: 50px;

}

.main-text h2 {
  margin-left: 60px;
}

.main-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1500px;
}

.main-div img {
  display: flex;
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
  
}

.main-div p {
  text-align: center;
}

.main-img {
  margin-top: 50px;
}

.footer {
  display: flex;
  background-color: #ececec;
  justify-content: space-around;
  margin-top: 50px;
  padding: 30px;
}

.footer-div {
  display: flex;
  flex-direction: column;
}

.footer-contact {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-contact a {
  color: #de1623;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  
}

.footer-social-midia {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-social-midia i {
  background-color: #6532ac;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;

}

.footer-span {
  color: #a5a5a5;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 0px 30px;
  border-radius: 8px;
}

.form-text p {
  font-style: italic;
  margin-top: 10px;
}

.form-input {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}

.form-input input {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 180px;
  height: 30px;
  padding: 10px 10px;
}

.form-input button {
  border: none;
  padding: 0 25px;
  color: #ffffff;
  background-color: orangered;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .menu-div {
    margin: 10px 0px;
    padding: 8px;
  }

  .menu-box {
    gap: 0px;

  }

  .menu-inscription {
    margin-right: 10%;
  }
}

@media (max-width: 700px) {
  .menu-responsive {
    display: flex;
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
   padding: 10px;
  }

  .menu-box {
    display: flex;
    flex-direction: column;
  }

  .header-input {
    display: none;
  }

  .header-text {
    display: none;
  }

  .header-bag {
    flex-direction: column;
    align-items: normal;
    gap: 0;
  }
  .text-responsive {
    display: block;
  }

  .main-text h2 {
    margin-left: 0px;
    text-align: center;
  }

  .main-div {
    grid-template-columns: 1fr 1fr;
  }
  .main-content {
    margin-top: 20px;
  }

  .footer {
    flex-direction: column;
  }

  .footer-form {
    margin-top: 20px;
  }

  .footer-div {
    align-items: center;
  }
}

.aside {
  display: none;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  transform: translate(0%, 50%);
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.aside-img img{
  max-width: 100%;
  margin-top: 20px;
  width: 400px;
}


.aside-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}

.aside-h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.aside-button button {
  border: none;
  padding: 10px 10px;
  color: #ffffff;
  background-color: orangered;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.insert-aside {
  display: flex;
}

.close {
  margin-left: 15px;
}

.close i {
  cursor: pointer;
}

.price {
  color: #de1623;
}

.active {
  display: flex;
}

